.main_div {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(magenta, blue, purple);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  width: 25%;
  height: 80vh;
  background-image: linear-gradient(orange, yellow, pink);
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1 {
  color: white;
  background: transparent;
  background-color: brown;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15 -5px rgba(0, 0, 0, 0.3);
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid brown;
  outline: none;
}
button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: brown;
  background-color: brown;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15 -5px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #20bf6b;
}

ol {
  margin-top: 30px;
}
ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: brown;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 135, 204);
  border-radius: 50%;
  margin: 0 15px 0 35px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.fa-times:hover {
  background-color: red;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }
  .todo_style.fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}
