@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
.btn-danger{
    background-color:  rgb(234, 134, 34)  !important;
}
.bg-danger
{
    background-color: rgb(234, 134, 34) !important;
}