body{
  background-color: rgb(98, 204, 98);
}
#happy
{
  background-color: rgb(170, 98, 39);
  border-radius: 7px;
  text-align: center;
  text-decoration: solid;
  margin: 120px;
  border: 2px solid brown;
}
#timer
{
  background-image: linear-gradient(rgb(238, 5, 5),#9b59b6,aqua);  
  color:white;
  margin-left:30%;
  margin-right:30%;
  text-align: center;
  border-radius: 12px;
  border: 2px solid purple;
}